@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

html {
  display: flex;
}

body {
  background-color: #f3f4f8;
  color: #454a4d;
  flex: 1 1 auto;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  min-height: calc(100vh - 2rem);
  padding: 1rem;
}

button::-moz-focus-inner {
  border: 0;
}

#root {
  display: flex;
  min-height: 100%;
}
